$primary: #008cf0;
$secondary: #503380;
$text: #333;
$accent: #006bb7;
$lightBlue: #c5e4fb;
$background: #f5f5f5;
$transparent: rgba(255, 255, 255, 0);

body {
  * {
    font-family: "Raleway", Sans-serif;
  }
}

h1,
h2,
h3 {
  font-weight: 700;
  color: $secondary;
}
h4,
h5 {
  color: $secondary;
}

// .row {
//   max-width: 90%;
// }

hr {
  border: 0;
  max-width: 90%;
  border-top: 1px solid $primary;
  opacity: 0.55;
}

.names {
  margin-top: 5px;
}

.btn {
  &:focus {
    box-shadow: none;
  }
}

.btn-toggle {
  color: $secondary !important;
  margin-top: 5px;
  &:active,
  &:focus,
  &:hover {
    outline: none;
    background-color: $background;
  }
}

.sidebar-container {
  overflow-y: scroll;
  height: 100%;
  max-height: 85vh;
}

.background-header {
  margin-top: 10px;
}

.modal-dialog {
  text-align: center;
  max-width: 80%;
}

select {
  margin-bottom: 25px;
  max-width: 400px;
  margin-left: 50px;
}

img {
  width: 80%;
}

:target:before {
  content: "";
  display: block;
  height: 65px; /* fixed header height*/
  margin: -65px 0 0; /* negative fixed header height */
}

ul {
  list-style-type: none;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color: #fff;
  background-color: $primary;
}

.tt-suggestion p {
  margin: 0;
}

a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $accent;
  }
}

#content {
  padding-top: 45px;
  max-width: 1100px;
  .col-12 {
    .section {
      padding-top: 45px;
      margin-top: 45px;
      border-top: 2px solid $primary;
      &:first-of-type {
        margin-top: 0;
        border-top: none;
      }
    }
  }
}
// #content {
//   position: absolute;
//   margin-top: 65px;
//   margin-left: 40px;
//   max-width: 1100px;
// }

#container {
  margin-top: 60px;
  max-width: 100%;
}

#sidebar_container {
  display: none;
  z-index: 100;
  padding: 20px;
  position: fixed;
  height: auto;
  width: 350px;
  top: 70px;
  left: 10px;
  border-radius: 6px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.075);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.075);
  .btn-toggle {
    width: 100%;
    &:active,
    &:focus,
    &:hover {
      outline: none;
      background-color: white;
    }
  }
  .btn-toggle-nav {
    a {
      &:active,
      &:focus,
      &:hover {
        outline: none;
        background-color: white;
        color: $accent;
      }
    }
  }
}

.sub-navbar {
  background-color: $lightBlue;
  padding: 90px 0 30px;
}

.navbar {
  background-color: $primary;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1000;
  padding: 5px;
  .container {
    max-width: 1100px;
    .col-left {
      gap: 30px;
    }
    .col-right {
      justify-content: flex-end;
      gap: 30px;
    }
    .menu-opener {
      color: white;
      font-size: 40px;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 45px;
      border-radius: 4px;
      transition: all ease 200ms;
      cursor: pointer;
      &:hover {
        transition: all ease 300ms;
        background-color: white;
        color: $accent;
      }
    }
  }
}

.card-img-top {
  padding: 3px;
  height: 100px;
}

.card {
  width: 280px !important;
  height: 320px;
  background-color: $background;
}

.creator {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

#mci_profile_example {
  margin: 0 auto;
}

.correlations {
  width: 100%;
  min-height: 600px;
}

.collapse {
  width: 100%;
}

.tabulator-header {
  background-color: $primary !important;
  color: white !important;
}

.tabulator-col {
  background-color: $primary !important;
}

.tabulator {
  background-color: $primary !important;
}

.tabulator-arrow {
  color: white !important;
}

.tabulator-footer {
  color: white !important;
  background-color: $primary !important;
}

.tabulator-page {
  color: white !important;
}

.tabulator-page.active {
  color: black !important;
}

#content-table {
  margin-top: 5px;
  margin-bottom: 20px;
}

.vl {
  opacity: 0.2;
  border-left: 3px solid $secondary;
  height: 60px;
  position: absolute;
  margin-left: -3px;
  top: 0;
}

#vl1 {
  left: 375px;
}

#vl2 {
  left: 587px;
}

#vl3 {
  left: 843px;
}

.btn-toggle.table-toggle {
  color: white;
}

.dropdown-menu.show {
  display: block;
  background-color: $primary;
}

#example_correlation_img {
  border: solid $secondary 1px;
}

.card a {
  color: white;
}

// image-rendering: -moz-crisp-edges; /* Firefox */
// image-rendering: -o-crisp-edges; /* Opera */
// image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
// image-rendering: crisp-edges;
// -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
